# Development dependencies
colorlog==6.10.1
pip>=21.3.1
pre-commit==4.5.1
mypy==1.19.0
types-requests>=2.0.0
types-setuptools>=65.0.0

# Runtime dependencies
aiohttp>=3.8.0
async_timeout>=4.0.0
voluptuous>=0.13
